.category-title-header {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;

  &.banner-color {
    background-color: transparent;
  }

  .category-title-contents {
    max-width: 500px;
    padding: 40px;
  }

  .category-title {
    display: flex;
  }
}

// Custom Topic List
.category-breadcrumb {
  .custom-list-label {
    display: inline-flex;
    padding: 0.5em;
  }

  .custom-list-dropdown {
    ul {
      li {
        display: flex;
        align-items: center !important;
      }
    }
  }

  .custom-list-item {
    order: 99;
  }
}
